<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="main">
        <form action="/auth/login" method="POST">
            <input type="text" name="email" id="input-email" placeholder="email"><br><br>
            <input type="password" name="password" id="input-password" placeholder="password"><br><br>
            <button type="submit">Login</button>
        </form>

        <br>
        <p>Don't have an account? <a href="/auth/register">Sign Up</a></p>
    </div>

    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
</body>
</html>